<div class="row">
  <div class="content-header">
    <h1>Contas bancárias <small>{{ sub_title }}</small></h1>
    <div class="grey-text">
      <small>
        <a href="#/">iFinance</a> >
        <a href="#/contas">Suas contas</a> >
        <span>Suas contas</span>
      </small>
    </div>
  </div>
  <div class="card col s12">
    <div class="card-content">
      <form class="row" autocomplete="off" @submit.prevent="save()">
        <div class  ="input-field col s12">
          <h5>Dados da contas</h5>

        </div>
        <div class="input-field col s6">
          <input type="text" v-model="updated.bank" id="name-bank" :value="showData.bank" class="validate" placeholder="Nome da conta" required>
          <label for="name-bank" class="active">Nome do banco</label>
        </div>

        <div class="input-field col s6">
          <input  type="text" id="balance" :value="showData.balance" class="validate" placeholder="Saldo da Conta " required>
          <label for="balance" class="active">Saldo</label>
        </div>

        <div class="input-field col s6">
          <input  type="text" id="agency" :value="showData.agency" class="validate" placeholder="Agencia" required>
          <label for="agency" class="active">Agência</label>
        </div>

        <div class="input-field col s6">
          <input  type="text" id="account" :value="showData.account" class="validate" placeholder="Nº da Conta " required>
          <label for="account" class="active">Nº da Conta</label>
        </div>

        <div class="input-field col s6">
          <input type="submit" class="waves-effect waves-light btn-large blue-grey darken-4" value="salvar">
        </div>
      </form>
    </div>
    <div class="card-action">
      <a href="#/contas">Voltar</a>
    </div>
  </div>
</div>